{# ============================================================ FAQ Section ===== #}
<div id="faq-main">
    <div class="faq my-5">
   <div class="container-xl">
      <div class="my-5 headersection">
         <div class="row g-0">
            <div class="col-sm-12 col-md-10 col-lg-10 text-start color-black">
               <div class="main-section-heading01">Frequently</div>
               <div class="main-section-heading02">Asked Questions</div>
               <div class="main-section-desc">Get quick answers to common questions about our banking services and products</div>
               <div class="main-section-desc">
                  <!----><!----><!---->
               </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
               <div tabindex="-1" class="w-100 h-100 d-flex justify-content-lg-end justify-content-md-end justify-content-sm-center align-items-end">
                  <a href="javascript:void(0)" tabindex="0" class="header-hypelink">View All FAQs</a>
               </div>
               <!---->
            </div>
         </div>
      </div>
      <div class="faq-accordion-base">
         <div class="accordion" id="yb-prelogin-accordion">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-01" aria-expanded="false" aria-controls="yb-prelogin-collapse-01"> What is yono Business?</button>
               </h2>
               <div id="yb-prelogin-collapse-01" class="accordion-collapse collapse show-BK" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <p>yono Business is SBI's unified digital banking platform for business and corporate customers. It covers Corporate Internet Banking (CINB), eTrade, eForex, Supply Chain Finance (SCF), and Cash Management Product (CMP).</p>
                     <ul>
                        <li>Enhanced security, ease of navigation, and intuitive UI/UX</li>
                        <li>Reimagined domestic payment module with consolidated dashboard</li>
                     </ul>
                  </div>
               </div>
            </div>
            <hr class="accordion-item-divider">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-02" aria-expanded="false" aria-controls="yb-prelogin-collapse-02">Where can I access yono Business? </button>
               </h2>
               <div id="yb-prelogin-collapse-02" class="accordion-collapse collapse" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <ul>
                        <li><strong>Web: </strong><a href="https://yonobusiness.sbi.bank.in/" target="_blank" class="new_link">https://yonobusiness.sbi.bank.in</a></li>
                        <li><strong>Mobile App: </strong>Available on Google Play Store and iOS App Store under "yono Business". </li>
                     </ul>
                  </div>
               </div>
            </div>
            <hr class="accordion-item-divider">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-03" aria-expanded="false" aria-controls="yb-prelogin-collapse-03">Who can use yono Business?</button>
               </h2>
               <div id="yb-prelogin-collapse-03" class="accordion-collapse collapse" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <p>yono Business is designed for:</p>
                     <ul>
                        <li>Sole Proprietors</li>
                        <li>Partnerships</li>
                        <li>Private / Public Limited Companies</li>
                        <li>MSMEs and Corporates</li>
                        <li>Government institutions and large enterprises</li>
                     </ul>
                     <p> Customers can be <strong>new to SBI (NTB)</strong> or <strong> existing SBI customers (ETB)</strong> - including those new to SBI's digital platforms </p>
                  </div>
               </div>
            </div>
            <hr class="accordion-item-divider">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-04" aria-expanded="false" aria-controls="yb-prelogin-collapse-04">What digital services are available on yono Business?</button>
               </h2>
               <div id="yb-prelogin-collapse-04" class="accordion-collapse collapse" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <p>yono Business offers:</p>
                     <ul>
                        <li>
                           <strong>Current Account</strong>: Online Current Account Opening and Digital
                           Onboarding for Sole Proprietors. One time Branch visit for entities other
                           than Sole Proprietors.
                        </li>
                        <li>
                           <strong>Onboarding</strong>: Branch Assisted / Customer Initiated Digital
                           Onboarding journeys for CINB, Trade and Forex.
                        </li>
                        <li>
                           <strong>yono Business and Corporate Internet Banking (CINB):</strong>
                           Payments, account management, digital document upload, Reports, collections,
                           and more.
                        </li>
                        <li>
                           <strong>Trade Finance:</strong> Apply digitally for LCs, BGs, Exports /
                           Imports, Advance Payments, and more.
                        </li>
                        <li>
                           <strong>Forex Services:</strong> Real-time forex rate booking with document
                           upload and no minimum threshold.
                        </li>
                        <li><strong>Supply Chain Finance (eDFS and eVFS) </strong></li>
                        <li>
                           <strong>API Banking:</strong> ERP integration for payments, balances, and
                           trade operations.
                        </li>
                        <li>
                           <strong>MSME Lending:</strong> Pre-approved Business Loans and GST Invoice
                           Financing (MSME Sahaj) for proprietors.
                        </li>
                        <li>
                           <strong>Liquidity Cash Management:</strong> Account consolidation,
                           collections, supplier payments.
                        </li>
                        <li>
                           <strong>Mobile App Services:</strong> Payments, Quick transfers, UPI-Scan
                           Pay, Hindi language, Import LC Authorization, Forex Rate Booking, MPIN
                           Biometric login, etc. Presently, Single (Saral / Khata) users &amp; Maker /
                           checker users of multiuser variant (Vyapaar / Vistaar) can use mobile
                           application for their day-to-day banking needs. CMP services can also be
                           accessed through mobile App.
                        </li>
                        <li>
                           <strong>Add-on Services:</strong> yono Cash, Profile Management (Reset Login
                           Password, Locking / Unlocking of Profile etc.), Open fixed deposits (e-TDR /
                           e-STDR), apply for IPOs etc.
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <hr class="accordion-item-divider">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-05" aria-expanded="false" aria-controls="yb-prelogin-collapse-05">How can NTB (New-to-Bank) customers onboard?</button>
               </h2>
               <div id="yb-prelogin-collapse-05" class="accordion-collapse collapse" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <ul>
                        <li>
                           <strong>Sole Proprietors:</strong> Complete an
                           <strong>end-to-end digital Current Account journey </strong>online through
                           <a href="https://yonobusiness.sbi.bank.in/" target="_blank" class="new_link">yonobusiness.sbi.bank.in</a>.
                        </li>
                        <li>
                           <strong>Other Entities (Partnerships, Companies, etc.):</strong>
                           <br>
                           <ul>
                              <li>
                                 Apply for a current account <strong>online </strong>via yono Business.
                              </li>
                              <li>
                                 Visit a <strong>branch once</strong> to complete the verification process.
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <hr class="accordion-item-divider">
            <div class="accordion-item">
               <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#yb-prelogin-collapse-06" aria-expanded="false" aria-controls="yb-prelogin-collapse-06">How can ETB (Existing SBI Customers) onboard?</button>
               </h2>
               <div id="yb-prelogin-collapse-06" class="accordion-collapse collapse" data-bs-parent="#yb-prelogin-accordion">
                  <div class="accordion-body">
                     <ul>
                        <li>
                           <strong>If not registered for digital banking:</strong>
                           <ul>
                              <li> <strong>Sole Proprietors with debit card:</strong>  Register <strong>entirely online</strong> </li>
                              <li>
                                 <strong>Other Business Entities (Partnerships, Companies, etc.): </strong>
                                 <ul>
                                    <li>Initiate <strong> digital onboarding</strong>  for YB / CINB, Trade, or Forex. </li>
                                    <li>Complete the process with a <strong> one-time branch visit.</strong> </li>
                                 </ul>
                              </li>
                              <li>
                                 <strong> Branch-Assisted Onboarding:</strong>
                                 <ul>
                                    <li>Visit any <strong>SBI branch</strong>  to onboard for <strong>YB / CINB, eTrade, and eForex</strong>  in a single visit. </li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>