{# ============================================================ Fixed Back2Top ===== #}
<div id="fixed-back2top">
<button class="Scroll_Top animate_animated animate_zoomInUp">
    <div class="img">
        <img loading="lazy" src="{{ base_path ~ directory }}/images/scroller/icon_top_arrow_blue.svg" alt="scroll to top">
    </div>
    <div class="text d-none d-lg-block">Scroll<br>to Top</div>
</button>
</div>
{# ============================================================ End Fixed Back2Top ===== #}