{# ============================================================ SBI Home Video Section ===== #}
<div id="YTVideoSection" class="video-section py-5">
    <div class="container-xl">
        <div class="row">
        <div class="col-12">
            <div tabindex="0" id="card_carousel" data-bs-ride="carousel" class="carousel slide card_carousel" aria-activedescendant="slide-ngb-slide-6" style="display: block;">
                <div role="tablist" class="carousel-indicators">
                    <button type="button" data-bs-target="#card_carousel" data-bs-slide-to="0" role="tab" class=" active" aria-labelledby="slide-ngb-slide-6" aria-controls="slide-ngb-slide-6" aria-selected="true"></button>
                    <button type="button" data-bs-target="#card_carousel" data-bs-slide-to="1" role="tab" aria-labelledby="slide-ngb-slide-7" aria-controls="slide-ngb-slide-7" aria-selected="false" class=""></button><!---->
                </div>
                 <div class="carousel-inner">
                    <div role="tabpanel" class="carousel-item active" id="slide-ngb-slide-6">
                    <span class="visually-hidden"> {{ 'Slide 1 of 2'|t }} </span>
                    <div class="video_container mb-3">
                        <div tabindex="0" class="video"><iframe width="100%" height="100%" tabindex="-1" src="https://www.youtube.com/embed/GKUzihXnEKU?si=_o-8KfLXMhPsaWKb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe></div>
                    </div>
                    <!---->
                    </div>
                    <div role="tabpanel" class="carousel-item" id="slide-ngb-slide-7">
                    <span class="visually-hidden"> {{ 'Slide 2 of 2'|t }} </span>
                    <div class="video_container mb-3">
                        <div tabindex="0" class="video"><iframe width="100%" height="100%" tabindex="-1" src="https://www.youtube.com/embed/B0JUz3qBRRk?si=oI0VxqOQ9tfKnuBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe></div>
                    </div>
                    <!---->
                    </div>
                    <!---->
                </div>
                <button type="button" class="carousel-control-prev " data-bs-target="#card_carousel" data-bs-slide="prev" aria-labelledby="ngb-carousel-2-previous">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                </button>
                <button type="button" class="carousel-control-next " data-bs-target="#card_carousel" data-bs-slide="next" aria-labelledby="ngb-carousel-2-next">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                </button><!---->
            </div>
        </div>
        </div>
    </div>
</div>
{# ============================================================ End SBI Home Video Section ===== #}