{# ============================================================ SBI Contact Us ===== #}
<div id="sbi-contact-us">
  <div class="container-xl">
        <div class="row justify-content-center my-5">
            <div class="col-xl-10">
                <div class="row row-cols-1 row-cols-md-2 g-0 touch-us-section">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-5 col-xl-4">
                    <div class="card h-100 touchus-card-left">
                        <img src="{{ base_path ~ directory }}/images/get-in-touch.png" class="card-img-top touch-us-img" alt="...">
                    </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-8">
                    <div class="card h-100 touchus-card-right">
                        <div class="card-body p-lg-5">
                            <p class="touchus-title">Still Looking? Get in Touch with Us!</p>
                            <form class="row g-3">
                                <div class="col-sm-6">
                                <label for="touchusname" class="form-label">Name*</label>
                                <input type="text" class="form-control form-input" id="touchusname" placeholder="Your Name">
                                </div>
                                <div class="col-sm-6">
                                <label for="touchustype" class="form-label">Business Type*</label>
                                <select id="touchustype" class="form-select form-input" placeholder="Business Type">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="col-sm-6">
                                <label for="touchusmob" class="form-label">Mobile Number*</label>
                                <input type="number" class="form-control form-input" id="touchusmob" placeholder="Mobile Number">
                                </div>
                                <div class="col-sm-6">
                                <label for="touchusemail" class="form-label">Email*</label>
                                <input type="email" class="form-control form-input" id="touchusemail" placeholder="Email">
                                </div>
                                <div class="col-sm-6">
                                <label for="touchusint" class="form-label">Interested in*</label>
                                <select id="touchusint" class="form-select form-input" placeholder="Select Services">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="col-sm-6">
                                <label for="touchuspin" class="form-label">Pin Code</label>
                                <input type="number" class="form-control form-input" id="touchuspin" placeholder="Pin Code">
                                </div>
                                <div class="col-12 mb-4">
                                <div class="form-check">
                                    <input class="form-check-input me-2" type="checkbox" id="touchuscheck">
                                    <label class="form-check-label mt-1" for="touchuscheck">I agree to receive communication about yono business services</label>
                                </div>
                                </div>
                                <div class="col-12">
                                <button type="submit" class="btn common-btn">Submit Enquiry</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>